@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* Chrome, Safari, Edge, Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

.custom-underline {
    text-decoration-thickness: 1px !important;
}
